@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {

  font-family: "Manrope", sans-serif;
}
.bg-primary {
  background-color: #ff4240;
  color: #ffffff;
}
.dot-hr {
  border: 1px dashed rgba(19, 19, 24, 0.2);
}
